body {
    margin: 0%;
}

#container-fluid {
    display: flex;
    margin-left: 32%;
    margin-right: 32%;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    background-color: red;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    height: 80px;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle .inputNumber {
    width: 230px;
}

.middle .ddl {
    display: flex;
    width: 230px;
    justify-content: space-between;
}

.ddl .ddlBox {
    width: 165px;
}

.middle .btnSwap {
    width:30px;
    height:30px;
}

.middle .button {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.lower {
    border-style: solid;
    width: 350px;
    border-radius: 10px;
}

.lower .text {
    display: flex;
    text-align: center;
    justify-content: center;
}

.lower .text-upper {
    font-weight:bold;
    font-size: 20px;
}

.lower .text-lower {
    margin-top: -25px;
}
